.title h1 {
    padding: 20px 0;
}
a.add_etd {
    margin: 20px;
    float: right;
    position: relative;
    border: 2px solid #0275d8;
    line-height: 30px;
    background: #fff;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
    color: #0275d8;
    text-align: center;
    -webkit-transition: 0.2s ease-in-out all ;
    -moz-transition: 0.2s ease-in-out all ;
    -ms-transition: 0.2s ease-in-out all ;
    -o-transition: 0.2s ease-in-out all ;
    transition: 0.2s ease-in-out all ;
}
a.add_etd:hover {
    color: #fff;
    background-color:#0275d8;
}

button.button_add {
    background: #0275d8;
    line-height: 40px;
    padding: 0 40px;
    text-align: center;
    position: relative;
    color: #fff;
    border: 1px solid #0275d8;
    float: right;
    -webkit-transition: 0.2s ease-out all;
    -moz-transition: 0.2s ease-out all;
    -ms-transition: 0.2s ease-out all;
    -o-transition: 0.2s ease-out all;
    transition: 0.2s ease-out all;
    cursor: pointer;
}

button#form_ajouter:hover {
    background: #fff;
    color: #0275d8;
}

.form-control{
    padding: .5rem .75rem !important;
}
